body {
	background: #efe4c2; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(top, #efe4c2, #72553f); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #efe4c2, #72553f); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #efe4c2, #72553f); /* For Firefox 3.6 to 15 */
	background: linear-gradient(right, #efe4c2, #72553f); /* Standard syntax */
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.noName {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

header {
	display:block;
	text-align: center;
	color: #663500;
	font-size: 40px;
	font-family: 'Ewert', cursive;
	width:80%;
/*	background-color: #bbb;
*/	clear:both;
	margin: 10px 0px 10px 300px;
	padding: 10px;
}

h1 {
	font-size: 80px;
}

h3 {
	font-size: 30px;
}

.gameInstructions {
	display:block;
	text-align: center;
	font-size: 36px;
	color: #663500;
	font-family: 'IM Fell DW Pica', serif;
	width:80%;
/*	background-color: #bbb;
*/	clear:both;
	margin: 10px 0px 10px 300px;
	padding: 10px;
}

.gameWins {
	display:block;
	text-align: center;
	font-size: 30px;
	font-family: 'IM Fell DW Pica', serif;
	width:80%;
	color: #663500;
/*	background-color: #bbb;
*/	clear:both;
	margin: 10px 0px 10px 300px;
	padding: 10px;
}

.guessesRemaining {
	display:block;
	text-align: center;
	font-size: 30px;
	color: #663500;
	font-family: 'IM Fell DW Pica', serif;
	width:80%;
/*	background-color: #bbb;
*/	clear:both;
	margin: 10px 0px 10px 300px;
	padding: 10px;
}

.gameArea {
	display:block;
	text-align: center;
	font-size: 80px;
	color: #663500;
	font-family: 'Sancreek', cursive;
	width:80%;
/*	background-color: #666;
*/	clear:both;
	margin: 10px 0px 10px 300px;
	padding: 10px;
}

.gameWrong {
	display:block;
	text-align: center;
	font-size: 30px;
	color: #663500;
	font-family: 'IM Fell DW Pica', serif;
	width:80%;
/*	background-color: #bbb;
*/	clear:both;
	margin: 10px 0px 10px 300px;
	padding: 10px;
}

@media screen and (max-width: 1200px) {
	.noName {
		left: 0;
		top: 0;
	}

	.noName img {
		width: 70%;
		height: auto;

	}

	header {
		font-size: 40px;
		width:80%;
		margin: 10px 0px 10px 300px;
	}

	h1 {
		font-size: 80px;
	}

	.gameInstructions {
		font-size: 30px;
		width:80%;
		margin: 10px 0px 10px 300px;
	}

	.gameWins {
		font-size: 30px;
		width:80%;
		margin: 10px 0px 10px 300px;
	}

	.guessesRemaining {
		font-size: 30px;
		width:80%;
		margin: 10px 0px 10px 300px;
	}

	.gameWrong {
		font-size: 30px;
		width:80%;
		margin: 10px 0px 10px 300px;
	}

	.gameArea {
		font-size: 70px;
		width:80%;
		margin: 10px 0px 10px 300px;
	}
}

@media screen and (max-width: 980px) {
	.noName {
		left: 40px;
		top: 40px;
	}

	.noName img {
		width: 50%;
		height: auto;

	}

	header {
		font-size: 36px;
		width:80%;
		margin: 10px 0px 10px 260px;
	}

	h1 {
		font-size: 70px;
	}
	
	h3 {
		font-size: 24px;
	}
	.gameInstructions {
		font-size: 24px;
		width:80%;
		margin: 10px 0px 10px 260px;
	}

	.gameWins {
		font-size: 24px;
		width:80%;
		margin: 10px 0px 10px 260px;
	}

	.guessesRemaining {
		font-size: 24px;
		width:80%;
		margin: 10px 0px 10px 260px;
	}

	.gameWrong {
		font-size: 24px;
		width:80%;
		margin: 10px 0px 10px 260px;
	}

	.gameArea {
		font-size: 55px;
		width:80%;
		margin: 10px 0px 10px 260px;
	}
}
